<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheResult="false">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Characterization">
      <directory>tests/Characterization</directory>
    </testsuite>
    <testsuite name="Conformance">
      <directory>tests/Conformance</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <clover outputFile="coverage.xml"/>
    </report>
  </coverage>
</phpunit>
